@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "scholarsource-light";
  default: true;

  --color-primary: #8b3fd6;
  --color-secondary: #5a189a;
  --color-accent: #d19ef1;
  --color-neutral: #2a1458;

  --base-100: #faf7ff;
  --base-200: #f3e8ff;
  --base-300: #e9d5ff;

  --base-content: #2a1458;
}


@plugin "daisyui/theme" {
  name: "scholarsource-dark";

  --color-primary: #d19ef1;
  --color-secondary: #8b3fd6;
  --color-accent: #5a189a;
  --color-neutral: #140a24;

  --base-100: #140a24;
  --base-200: #1e1036;
  --base-300: #2a1458;

  --base-content: #f3e8ff;
}


@custom-variant dark (&:where([data-theme=scholarsource-dark], [data-theme=scholarsource-dark] *));


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}


a.active {
  @apply text-primary font-semibold relative transition-all duration-300;
}

a.active::after {
  content: "";
  @apply absolute left-0 bottom-0 w-full h-[2px] bg-primary rounded-full;
}

a:not(.active)::after {
  content: "";
  @apply absolute left-0 bottom-0 w-full h-[2px] bg-transparent;
}
